body{
  background-color: #f7f7f7!important;
}
.site-navbar.navbar .navbar-header{
  /*background-color:#333f50;
  border-bottom: 1px solid #333f50;
  -webkit-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.35);
  */
}
.navbar-container.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.collapse.navbar-collapse.navbar-collapse-toolbar{
  background-color: #333f50;
  border:0px solid transparent!important;
}

div.page .page-header{
  position: fixed;
  top: 60px;
  z-index: 9;
  height: 55px;
  width: 100%;
}
.sub-header{
  position: relative;
  height: 55px;
  width: 100%;
  -webkit-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 3px 4px -1px rgba(0,0,0,0.3);
  box-shadow:         0px 3px 4px -1px rgba(0,0,0,0.3);
}
.sub-header-inner{
  width: 100%;
  height: 55px;
  background-color: #e7f0f3;
  display: inline-block;
  float: left;
  color:#333333;
  font-size: 24px;
  font-weight: 400;
  padding-left: 29px;
  padding-top: 10px;
  -webkit-box-shadow:inset 0px 3px 2px -1px rgba(0,0,0,0.35);
  -moz-box-shadow:inset    0px 3px 2px -1px rgba(0,0,0,0.35);
  box-shadow:inset         0px 3px 2px -1px rgba(0,0,0,0.35);
}

.bat-btn-group{
  position: absolute;
  right: 20px;
  top: 10px;
  width: auto;
  height: 35px;
}
.bat-btn{
  width: 100px;
  height: 35px;
  color: #97aabb;
  border: 1px solid  #97aabb;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 300;
  background-color: transparent;
  text-align : center;
  margin-left: 6px;
  padding-top: 4px;
  cursor: pointer;
  user-select:none;
}

.logo-medium{
  background-image: url('../img/logo-medium.png');
  background-repeat: no-repeat;
  width: 148px;
  height: 40px;
  display: inline-block;
  margin-top: 11px;
  margin-left: 46px;
  position: absolute;
  left: 40px;
  z-index: 9;
}
.greeting-wrap{
  float: right;
  margin-right: 22px;
  margin-top: 18px;
}
.user-message{
  color: #7e94a9;
  font-size: 18px;
  font-weight: 300;
  float: right;
}
.user-icon{
  float: right;
  background-image: url('../img/fa-user.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-top: 5px;
  margin-right: 15px;
}

.page-content>.panel{
  padding-top: 55px;
  background-color: #f7f7f7!important;
}
.mm-navbar{
  display: none!important;
}

.site-menu > .site-menu-item > a {
    padding: 0px 15px!important;
}

.form-material .form-control ~ .floating-label {
    left: 25px;
    top: 1px;
    font-size: 14px;
    font-weight: 300;
}
.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label,
.form-material .form-control:not(.empty) ~ .floating-label{
  top: -20px;
  font-size: 12px;
}
input.form-control {
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 9px!important;
    font-size: 14px;
    color: #333f50;
}
.floating.floating-label{
  font-size: 12px;
}
.btn-parent{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-top:2px;
}
#buttonSearch{
  background-color: #7e94a9;
  color : #e7f0f3;
  font-size: 14px;
  font-weight: 400;
  padding-top: 3px;
  border-color: #7e94a9;
  width: 150px;
  height: 30px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.41);
  -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0,0.41);
  box-shadow:         0px 1px 4px 0px rgba(0,0,0,0.41);

}

.form-group .cal-icon{
  width: 22px;
  height: 22px;
  position: absolute;
  right: 25px;
  top: 4px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../img/calendar.png');
  pointer-events: none;
  cursor: pointer;
}
.panel-body {
  padding-top: 30px!important;
  padding left: 30px!important;
  padding-right: 30px!important;
  padding-bottom: 0px!important;
  margin-bottom: 10px!important;
}
#serverError{
  position: relative;
  padding-left: 30px;
}
.server-error{
  position:fixed;
  top:-50px;
  left: 0px;
  width: 100%;
  height: 50px;
  z-index: 99999;
  background-color: #f26a62;
  color: #fff;
  font-weight: 300;
  box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.3);
}
.server-error .error-text{
  font-size: 17px;
  font-weight: 400;
  /*width: 376px;*/
  margin: 0px auto;
  text-align: center;
  padding-top :10px;
  padding-left: 28px;
  position: relative;
}
.server-error .warn-icon{
  width: 18px;
  height: 18px;
  background: url('../img/warn-small.png');
  position: absolute;
  left: 0px;
  top: 1px;
}

.section-sep{
  clear: both;
  margin-top: 30px;
  margin-bottom: 20px;
  height: auto;
}

.section-title{
  color: #333f50;
  font-size: 20px;
  font-weight: 300;
}
.form-material.floating.sm-margin
{
  margin-top: 10px;
}
.lg-margin{
  margin-top: 25px;
  margin-bottom: 25px;
}
.xl-margin{
  margin-top: 45px;
  margin-bottom: 25px;
}
.lg-margin-top{
  margin-top: 25px;
}
input[type='text']{
  color: #7e94a9!important;
  font-size: 14px;
  font-weight: 400;
}
input[type='text'].filter-text{
  color: #333f50!important;
}
.form-group .cal-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 30px;
    top: 4px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('../img/calendar.png');
    pointer-events: none;
    cursor: pointer;
}
.radio-custom.radio-primary{
  width: 100px;
}

.days-filter-buttons {
    float: right;
    width: 219px;
    height: 44px;
}
.days-filter-buttons .bat-btn {
    display: inline-block;
    width: 100px;

}
.bat-btn {
    width: 125px;
    height: 35px;
    color: #97aabb;
    border: 1px solid #97aabb;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 300;
    background-color: transparent;
    text-align: center;
    margin: 0px auto 0px 6px;
    padding-top: 4px;
    cursor: pointer;
    user-select: none;
}
#setDaysTab{
  overflow: auto;

}
#setDatesTab{
  overflow: auto;
  display: none;
}
.days .day {
    width: 14.2857%;
    height: 54px;
    float: left;
    text-align: center;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}
.days .day:hover {
    /*background-color: #e9f3f6;*/
}
.days .day .check {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -5px;
    width: 15px;
    height: 15px;
}
.days .day.selected .check {
    background-image: url('../img/day-tick.png');
    background-color: transparent;
}
.days .day .check-label {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #7e94a9;
}
.days .day.selected .check-label {
    color: #333f50;
}
#campaignDatePicker .datepicker-inline,
#campaignDatePicker .datepicker-days,
#campaignDatePicker .datepicker-days table{
  width: 100%!important;
}

#campaignDatePicker .datepicker table tr td{
  position: relative;
  z-index: 1;
}
#campaignDatePicker .datepicker table tr td.day:hover{
  cursor: pointer;
  background-color: transparent;/*#e9f3f6;*/
}
#campaignDatePicker .datepicker table tr td:hover:after{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 15px;
  background-color: #e9f3f6;
  z-index: -1;
}
#campaignDatePicker .datepicker table tr td.active{
  background-color: transparent;
}
#campaignDatePicker .datepicker table tr td.active:after{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 15px;
  background-color: #f26a62;
  z-index: -1;
}

#campaignDatePicker .datepicker table th.prev,
#campaignDatePicker .datepicker table th.next{
  background: none;
  position: relative;
}
#campaignDatePicker .datepicker table th.prev:after,
#campaignDatePicker .datepicker table th.next:after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  top:12px;
}
#campaignDatePicker .datepicker table th.prev:after{
  background-image: url('../img/cal-arrow-l.png');
  left: 250%;
}
#campaignDatePicker .datepicker table th.next:after{
  background-image: url('../img/cal-arrow-r.png');
  right: 250%;
}
.padd-15{
  padding-left: 15px;
  padding-right: 15px;
}
.sm-margin{
  margin-top:10px;
  margin-bottom:10px;
}
.section-title.pull-left{
  float: left;
}
.answer-right{
  float: right;
}
.file-upload-section{
  position: relative;
}
.upload-progress{
  position: absolute;
  top: 108px;
  left: 50%;
  width: 70%;
  height: 8px;
  border-radius: 4px;
  margin-left: -35%;
  background-color: #7d95a9;
}
.upload-progress .bar{
  width: 0px;
  height: 8px;
  border-radius: 4px;
  background-color: #333f50;
}
.show-during{
  display: none;
  height: 220px;
  margin: 40px auto 0 auto;
}
.uploading-file-name{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 68px;
  color:#7e94a9;
  font-size: 18px;
}
.byte-progress{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 130px;
  color:#7e94a9;
  font-size: 14px;
}
.byte-progress>div{
  position: relative;
  text-align: center;
}
.byte-progress .text{
  width: 200px;
  display: inline;
  margin-right: 8px;
}
.byte-progress .cancel-upload{
  display: inline-block;
  width: 13px;
  height: 20px;
  background-image: url('../img/cancel-upload.png');
  background-repeat: no-repeat;
  background-position: 0 5px;
  cursor: pointer;
}
.show-after{
  display: none;
  height: 220px;
  width: 100%;
}
.thumb-wrap{
  width: 495px;
  margin: 0px auto;
  overflow: auto;
}
.thumb-wrap::after{
  content: '';
  width: 75px;
  height: 75px;
  background: url('../img/video-play.png') no-repeat;
  position: absolute;
  left: 50%;
  top:50%;
  margin-top: -37px;
  margin-left: -37px;
  cursor: pointer;
}
.video-player{
  display: none;
  width: 495px;
  height: 220px;
  margin: 0px auto;
}
.daterangepicker .fa-calendar{
  display: none;
}
.add-slot-btn{
  width: 90px;
}
.padd-top-15{
  padding-top: 15px;
}
.time-slot-container{
  padding-right: 0px;
}
.with-flicker{
  padding-left: 40px;
  padding-right: 30px;
  position: relative;
}
.flick{
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 2px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.age-group .flick{
  top: -12px;
}
.flick-left{
  background-image: url('../img/flick-left.png');
  left: 10px;
}
.flick-right{
  background-image: url('../img/flick-right.png');
  right: 0px;
}
.added-time-slot{
  float: left;
  width: 257px;
  position: relative;
  margin-right: 43px;
  margin-bottom: 26px;
}
.slot-time{
  margin-left: 35px;
}
.slot-time:before{
  content: '';
  width: 22px;
  height: 22px;
  background: url('../img/clock.png') no-repeat;
  position: absolute;
  left: 0px;
  top: 2px;
}
.slot-time:after{
  content: '';
  width: 22px;
  height: 22px;
  background: url('../img/pipe.png') no-repeat;
  position: absolute;
  right: 30px;
  top: 2px;
}

.slot-time .start, .slot-time .end{
  float: left;
  color: #333f50;
  font-size: 16px;
}
.slot-time .to{
  float: left;
  color: #7e94a9;
  font-size: 16px;
  margin-left: 7px;
  margin-right: 7px;
}
.slot-time .delete-slot{
  content: '';
  width: 22px;
  height: 13px;
  background: url('../img/item-del.png') no-repeat;
  position: absolute;
  right: 0px;
  top: 6px;
  cursor: pointer;
}
.slot-display{
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 100%;
}
.slot-display>div{
  width: 160px;
  position: absolute;
  left: 50%;
  margin-left: -80px;
  overflow: auto;
}
.slot-display>div>div{
  float: left;

}
.slot-display .to{
  color: #333f50;
  padding-top: 3px;
}
.slot-display input{
  width: 73px;
  background-color: transparent;
  border: none;
  color: #333f50!important;
  font-size: 16px;
  text-align: center;
}
#ageGroup .rangeUi-pointer{
  width: 35px;
}
#totalTarget .rangeUi-pointer{
  background-color: transparent;
  top:1px;
  border: none;
  box-shadow: none;
  color: #333f50;
  font-size: 22px;
}
.total-target .legend{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%
}
.total-target .legend .left-most{
  float: left;
  width: 17px;
  color:#7e94a9;
  font-size: 12px;
  margin-left: 15px;
  margin-top: -20px;
}
.total-target .legend .right-most{
  float: right;
  color:#7e94a9;
  width: 74px;
  font-size: 12px;
  margin-right: 15px;
  margin-top: -47px;
  text-align: right;
}
.total-target .legend .right-most>div{
  font-size: 22px;
  font-weight: 300;
  margin-top: -5px;
}
.form-group.col-md-6.pad-icon{
  padding-left: 30px;
}
.form-group.col-md-6.pad-icon:before{
  content: '';
  width: 12px;
  height: 29px;
  position: absolute;
  top: -19px;
  left: 12px;
}
.form-group.col-md-6.pad-icon.male:before{
  background: url('../img/male-s.png') no-repeat;
}
.form-group.col-md-6.pad-icon.female:before{
  background: url('../img/female-s.png') no-repeat;
}
.target-summary{
  padding-top: 15px;
  width: 400px;
  height: 86px;
  margin: 0px auto;
}
.target-summary-graph{
  float: right;
  width: 130px;
  margin-top: -15px;
}

.target-summary .stats{
  width: 133px;
  height: 57px;
  float: right;
  color: #333f50;
  font-size: 30px;
  font-weight: 300;
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-top: 5px;
}
.stats.male{
  background-image: url('../img/male.png');
}
.stats.female{
  background-image: url('../img/female.png');
}
canvas#donutChart{
  width: 170px;
  float: right;
}
#totalTarget .rangeUi-bar, #totalTargetMale .rangeUi-bar,
#totalTargetFemale .rangeUi-bar{
  height: 5px;
  background-color: #7e94a9;
}
#totalTarget .rangeUi-selected{
  top:0px;
  background-color: #333f50;
}
#totalTargetMale .rangeUi-selected{
  top:0px;
  background-color: #90d8f4;
}
#totalTargetFemale .rangeUi-selected{
  top:0px;
  background-color: #f26a62;
}

.answer-right input[type='text']{
  border: 1px solid #7e94a9;
  border-radius: 3px;
  width: 87px;
  height: 29px;
  background-color: #fff;
  color: #333f50!important;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
}
.answer-right.picker .btn{
  border: 1px solid #7e94a9;
  border-radius: 3px;
  width: 165px;
  height: 29px;
  background-color: #fff;
  color: #333f50!important;
  font-size: 14px;
  padding: 0px 15px 0 15px;
  outline: none;
}
.answer-right.picker .open > .dropdown-toggle.btn-default:focus{
  background-color: #fff;
  color: #333f50!important;
}
.answer-right.picker .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
  width: 165px;
}
.answer-right.picker .bootstrap-select.btn-group .dropdown-toggle .caret{
  background-image: url('../img/caret-thick.png');
  top: 7px;
}

/*---------summary section----------*/
.summary-container{
  background-color: #fff;
  color: #7e94a9;
  font-size: 14px;
  font-weight: 400;
  margin:0px;
  padding: 20px 0 20px 0;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
  border-radius: 4px;
  right: 30px;
  width: 28.89vw;
  position: fixed!important;
  top:136px;
  z-index: 9;
}
.summary-container .heading{
  font-size: 16px;
  color: #333f50;
}
.summary-container .main-heading{
  margin-bottom: 15px;
}
.summary-container .stat{
  color: #333f50;
  float: right;
}
.stat .small{
  font-size: 10px;
}
.summary-container .data>div{
  margin-top: 9px;
  margin-bottom: 9px;
}
.summary-container .summary-section{
  margin:0;
  padding: 20px;
  border-bottom: 1px solid #e7f0f3;
}

/*----- modal window ----*/

.modal-dialog{
  width: 450px;
}
.modal-content{
  width: 420px;
  height: 300px;
  border-radius: 1px;
}
#okModal .modal-content{
  height: 172px;
}
.modal-header{
  padding-top: 32px;
  padding-bottom: 0px;
}
.modal-body{
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #3f4b5a;
  padding-top: 10px;
  padding-bottom: 0px;
}
.modal-body p{
  margin:5px;
}
.modal-footer .btn-pure.btn-default{
  font-size:22px;
  font-weight: 300;
  color: #3f4b5a;
  width: 150px;
}

.modal-header>div{
  width: 105px;
  margin: 0px auto;
}
.icon-warn-red{
  float: left;
  width: 22px;
  height: 22px;
  background-image: url('../img/icon-warn-red.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 9px;
}
.alert-head-text{
  font-size: 25px;
  font-weight: 300;
  color: #3f4b5a;
  text-align: center;
}
.modal-footer{
  padding-top: 0px;
}
#confirmModal .form-group{
  width: 360px;
  margin: 21px auto 0px auto;
  padding: 10px 30px 10px 30px;

}
#confirmModal .form-material .form-control ~ .floating-label{
  left:40px;
  top:13px;
  font-size: 16px;
}
#confirmModal .form-material .form-control:focus ~ .floating-label,
#confirmModal .form-material .form-control:not(.empty) ~ .floating-label
{
  top: -5px;
  font-size: 12px;
}
/*--token close fix--*/
.tokenfield .token .close{
  display: inline-block;
  color:transparent!important;
  background-image: url('../img/token-close.png');
  background-repeat: no-repeat;
  background-position: 0 5px;
  height: 100%;
  padding-right: 4px;
  margin-left: 5px;
  font-family: Arial;
  font-size: 1.1em;
  line-height: inherit;
  vertical-align: top;
  opacity : 1.0!important;
}
.tokenfield  .close:focus,
.tokenfield  .close:hover{
  opacity : 1.0!important;
}
.tokenfield .token .token-label{
  padding-left: 12px;
}
.ui-tooltip{
  display: none!important;
}
/*ie fix*/
.custom-select select::-ms-expand {
    display: none;
}
/*ie fix*/
.custom-select select:focus::-ms-value {
  background: transparent;
  color: #7e94a9;
}
.custom-select:before,
.custom-select::before{
  content:'';
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url('../img/custom-select-arrow.png');
  background-position: 1px 1px;
  right: 20px;
  top: 10px;
  pointer-events: none;
}
.custom-select:after{
  content:'';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #f7f7f7;
  right: 5px;
  top: 10px;
  cursor: pointer;
}
.custom-select select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 25px!important;
  padding-right: 25px!important;
  color: #7e94a9;
  font-size: 14px;
  cursor: pointer;
}
