.preview-page.visible{
  display: block;
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 99999;
  overflow: auto;

}

.preview-page-inner{}
.preview-page-inner .row{
  width: 100%;
  margin: 0;
}
/*--------detailed section -------*/
.preview-data{
  width: 100%;
  padding: 30px 0px 10px 1px;
}
.preview-summary{
  padding: 30px 5% 10px 0px;
  top: 0px;
}

.preview-summary-inner{
  width: 100%;
  background-color: #fff;
  padding: 20px 5px 15px 5px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
  border-radius: 1px;
}

.preview-data-inner{
  width: 100%;
  background-color: #f7f7f7;
  padding: 15px 15px 10px 1px;
  border-radius: 1px;
}
.preview-section{
  margin-bottom: 40px;
  width: 100%;
  overflow: auto;
}
.button-wrap{
  width: 500px;
  height: auto;
  margin: 30px auto 1px auto;
}
.preview-button{
  width: 150px;
  height: 50px;
  float: left;
  margin-left: 21px;
  padding-top: 12px;
}
.preview-button.first{
  margin-left: 1px;
}
.preview-section.sm-margin-b{
  margin-bottom: 10px;
}
.preview-section .question{
  color: #333f50;
  font-size: 20px;
  font-weight: 300;
  overflow: auto;
  margin-bottom: 10px;
}
.preview-section .answer{
  color: #333f50;
  font-size: 16px;
  font-weight: 300;
  overflow: auto;
  padding-left: 20px;
}
.answer .col-wrap{
  width: 100%;
}
.col-md-4.first{
  padding-left: 0px;
}
.subtitle{
  color: #7e94a9;
  font-size: 14px;
  font-weight: 100;
}
.text-data{
  font-size: 16px;
}
.added-time-slot.simple{
  width: 240px;
}
.slot-time.simple:after{
  display: none;
}
.answer.large-text{
  font-size: 30px;
  font-weight: 100;
}
.answer .target-summary{
  width: 400px;
  padding-top: 0px;
  margin: 0px auto;
  font-weight: 100;
  overflow: auto;
}
.added-time-slot{
  float: left;
  width: 257px;
  position: relative;
  margin-right: 43px;
  margin-bottom: 26px;
}
.slot-time{
  margin-left: 35px;
}
.slot-time:before{
  content: '';
  width: 22px;
  height: 22px;
  background: url('../img/clock.png') no-repeat;
  position: absolute;
  left: 0px;
  top: 2px;
}
.slot-time:after{
  content: '';
  width: 22px;
  height: 22px;
  background: url('../img/pipe.png') no-repeat;
  position: absolute;
  right: 30px;
  top: 2px;
}

.slot-time .start, .slot-time .end{
  float: left;
  color: #333f50;
  font-size: 16px;
}
.slot-time .to{
  float: left;
  color: #7e94a9;
  font-size: 16px;
  margin-left: 7px;
  margin-right: 7px;
}
.slot-time .delete-slot{
  content: '';
  width: 22px;
  height: 13px;
  background: url('../img/item-del.png') no-repeat;
  position: absolute;
  right: 0px;
  top: 6px;
  cursor: pointer;
}


.stats.total{
  position: relative;
}
.stats.total:before{
  content: '=';
  position: absolute;
  left: 0;
  color: #333f50;
}
.answer.video{
  display: block;
  width: 495px;
  height: 220px;
  border-radius: 4px;
  margin: 0px auto;
  padding-left: 0px;
  position: relative;
  cursor: pointer;
}
.video .video-overlay{
  width: 495px;
  height: 220px;
  background-image: url('../img/video-thumb.jpg');
  position: absolute;
  top:0;
  left: 0;
  z-index: 9
}
.video .video-wrap{
  position: absolute;
  top:0;
  left: 0;
}
.answer.video .video-overlay:after{
  content: '';
  width: 75px;
  height: 75px;
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -37px;
  margin-top: -37px;
  background-image: url('../img/video-play.png');
  z-index: 9;
  cursor: pointer;
}
.target-summary .stats{
  width: 133px;
  height: 57px;
  float: right;
  color: #333f50;
  font-size: 30px;
  font-weight: 100;
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-top: 5px;
}
.stats.male{
  background-image: url('../img/male.png');
}
.stats.female{
  background-image: url('../img/female.png');
}

/*---------summary section----------*/
.preview-summary-container .heading{
  font-size: 16px;
  color: #333f50;
}
.preview-summary-container .main-heading{
  margin-bottom: 15px;
}
.preview-summary-container .stat{
  color: #333f50;
  float: right;
}
.stat .small{
  font-size: 10px;
}
.preview-summary-container .data>div{
  margin-top: 9px;
  margin-bottom: 9px;
}
.preview-summary-container .summary-section{
  margin:0;
  padding: 20px;
  border-bottom: 1px solid #e7f0f3;
}
.summary-section.first{
  padding-top: 0px;
}
.summary-section.last{
  border:none;
}
