body{
  background-color: #f7f7f7!important;
}
.site-navbar.navbar .navbar-header{
  background-color:#333f50;
  /*border-bottom: 1px solid #333f50;*/
  -webkit-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.35);

}
.navbar-container.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.collapse.navbar-collapse.navbar-collapse-toolbar{
  background-color: #333f50;
  border:0px solid transparent!important;
}

div.page .page-header{
  position: fixed;
  top: 60px;
  z-index: 9;
  height: 55px;
  width: 100%;
}
.sub-header{
  position: relative;
  height: 55px;
  width: 100%;
  -webkit-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 3px 4px -1px rgba(0,0,0,0.3);
  box-shadow:         0px 3px 4px -1px rgba(0,0,0,0.3);
}
.sub-header-inner{
  width: 100%;
  height: 55px;
  background-color: #e7f0f3;
  display: inline-block;
  float: left;
  color:#333333;
  font-size: 24px;
  font-weight: 400;
  padding-left: 29px;
  padding-top: 10px;
  -webkit-box-shadow:inset 0px 3px 2px -1px rgba(0,0,0,0.35);
  -moz-box-shadow:inset    0px 3px 2px -1px rgba(0,0,0,0.35);
  box-shadow:inset         0px 3px 2px -1px rgba(0,0,0,0.35);
}

.bat-btn-group{
  position: absolute;
  right: 20px;
  top: 10px;
  width: auto;
  height: 35px;
}
.bat-btn{
  width: 155px;
  height: 35px;
  color: #97aabb;
  border: 1px solid  #97aabb;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 300;
  background-color: transparent;
  text-align : center;
  margin: 0px auto;
  padding-top: 4px;
  cursor: pointer;
  user-select:none;
}

.logo-medium{
  background-image: url('../img/logo-medium.png');
  background-repeat: no-repeat;
  width: 148px;
  height: 40px;
  display: inline-block;
  margin-top: 11px;
  margin-left: 27px;
}
.greeting-wrap{
  float: right;
  margin-right: 22px;
  margin-top: 18px;
}
.user-message{
  color: #7e94a9;
  font-size: 18px;
  font-weight: 300;
  float: right;
}
.user-icon{
  float: right;
  background-image: url('../img/fa-user.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-top: 5px;
  margin-right: 15px;
}

.page-content>.panel{
  padding-top: 55px;
  background-color: #f7f7f7!important;
}
.mm-navbar{
  display: none!important;
}

.site-menu > .site-menu-item > a {
    padding: 0px 15px!important;
}

.form-material .form-control ~ .floating-label {
    left: 25px;
    top: 1px;
    font-size: 14px;
    font-weight: 300;
}
.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label,
.form-material .form-control:not(.empty) ~ .floating-label{
  top: -20px;
  font-size: 12px;
}
input.form-control {
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 9px!important;
    font-size: 14px;
    color: #333f50;
}
.floating.floating-label{
  font-size: 12px;
}
.btn-parent{
  width: 150px;
  padding-top:2px;
  float: right;
}
#buttonSearch{
  background-color: #7e94a9;
  color : #e7f0f3;
  font-size: 14px;
  font-weight: 400;
  padding-top: 3px;
  border-color: #7e94a9;
  width: 150px;
  height: 30px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.41);
  -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0,0.41);
  box-shadow:         0px 1px 4px 0px rgba(0,0,0,0.41);

}

.form-group .cal-icon{
  width: 22px;
  height: 22px;
  position: absolute;
  right: 25px;
  top: 4px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../img/calendar.png');
  pointer-events: none;
  cursor: pointer;
}
.form-group .clear-icon{
  display: none;
  width: 13px;
  height: 12px;
  position: absolute;
  right: 60px;
  top: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../img/login-clear.png');
  cursor: pointer;
}
.more-filters{
  display: none;
}
.reset-filters{
  opacity: 0.5;
  width: 150px;
  margin: 10px auto 0 auto;
  padding-right: 10px;
  color : #7e94a9;
  font-size : 14px;
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  right: 0;
  top:57px;
}
.reset-filters>div{
  width: 90px;
  text-align: center;
  margin: 0px auto;
  border-bottom: 1px solid #7e94a9;
}


.toggle-filters{
  opacity: 0.5;
  width: 150px;
  margin: 7px auto 0 auto;
  padding-right: 10px;
  color : #7e94a9;
  font-size : 14px;
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  right: 0;
  top:32px;
  clear: both;
}

.toggle-filters>div{
  width: 120px;
  text-align: center;
  margin: 0px auto;
  border-bottom: 1px solid #7e94a9;
}
.toggle-filters .hide{
  display: none;
}
.toggle-filters.shown .show{
  display: none!important;
}
.toggle-filters.shown .hide{
  display: block!important;
}

.days-filter{

}
.days-filter .title{
  float: left;
  margin-left: 15px;
  font-size: 18px;
  color: #333f50;
}
.days-filter-buttons{
  float: right;
  width: 227px;
  height: 44px;
}
.days-filter-buttons .bat-btn{
  display: inline-block;
  width: 100px;
  margin-left:6px;
}
.days .day{
  width: 14.2857%;
  height: 54px;
  float: left;
  text-align: center;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}
.days .day:hover{
  /*background-color: #e9f3f6;*/
}
.days .day.selected .check{
  background-image:url('../img/day-tick.png');
}
.days .day.selected .check-label{
  color: #333f50;
}
.days .day .check{
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -5px;
  width: 15px;
  height: 15px;
}
.days .day .check-label{
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: #7e94a9;
}
.panel-body {
  padding-top: 30px!important;
  padding left: 30px!important;
  padding-right: 30px!important;
  padding-bottom: 0px!important;
  margin-bottom: 10px!important;
}
td.Live{
  color: #15b32e;
}
td.Draft{
  color : #f3b600;
}
td.Ended{
  color: #f26a62;
}
td.Paused{
  color : #828282;
}
.jsgrid-pager-container{
  margin-top:10px;
}
.jsgrid-pager{
  color : #7e95a9;
  text-align: right;
}
.jsgrid-pager .jsgrid-pager-page {
  display: inline-block;
  width: 40px;
  text-align: center;
}
.jsgrid-pager a{
  color: #7e95a9;
}
.jsgrid-pager .jsgrid-pager-nav-button a{
  display: inline-block;
  width: 40px;
  height: 24px;
  text-align: center;
}
.jsgrid-pager-nav-button{
  width: 40px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 7px;
  vertical-align: middle;
}

.jsgrid-pager-nav-button.arrowNext{
  background-image: url('../img/pageArrowNext.png');
}
.jsgrid-pager-nav-button.arrowLast{
  background-image: url('../img/pageArrowLast.png');
}

.jsgrid-pager-nav-button.arrowPrev{
  background-image: url('../img/pageArrowPrev.png');
}

.jsgrid-pager-nav-button.arrowFirst{
  background-image: url('../img/pageArrowFirst.png');
}
.jsgrid-pager-nav-inactive-button{
  opacity: 0.2;
}

.pageCountSelect{
  float: left;
}

.server-error{
  position:fixed;
  top:-50px;
  left: 0px;
  width: 100%;
  height: 50px;
  z-index: 99999;
  background-color: #f26a62;
  color: #fff;
  font-weight: 300;
  box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.3);
}
.server-error .error-text{
  font-size: 16px;
  font-weight: 300;
  width: 376px;
  margin: 0px auto;
  text-align: center;
  padding-top :10px;
  padding-left: 28px;
  position: relative;
}
.server-error .warn-icon{
  width: 18px;
  height: 18px;
  background: url('../img/warn-small.png');
  position: absolute;
  left: 10px;
  top: 14px;
}

.input-line{

}
