body{
  background-color: #f7f7f7!important;
}
.site-navbar.navbar .navbar-header{
  background-color:#333f50;
  /*border-bottom: 1px solid #333f50;*/
  -webkit-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.35);

}
.navbar-container.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.collapse.navbar-collapse.navbar-collapse-toolbar{
  background-color: #333f50;
  border:0px solid transparent!important;
}

div.page .page-header{
  position: fixed;
  top: 60px;
  z-index: 9;
  height: 55px;
  width: 100%;
}
.sub-header{
  position: relative;
  height: 55px;
  width: 100%;
  -webkit-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 3px 4px -1px rgba(0,0,0,0.3);
  box-shadow:         0px 3px 4px -1px rgba(0,0,0,0.3);
}
.sub-header-inner{
  width: 100%;
  height: 55px;
  background-color: #e7f0f3;
  display: inline-block;
  float: left;
  color:#333333;
  font-size: 24px;
  font-weight: 400;
  padding-left: 29px;
  padding-top: 10px;
  -webkit-box-shadow:inset 0px 3px 2px -1px rgba(0,0,0,0.35);
  -moz-box-shadow:inset    0px 3px 2px -1px rgba(0,0,0,0.35);
  box-shadow:inset         0px 3px 2px -1px rgba(0,0,0,0.35);
}

.bat-btn-group{
  position: absolute;
  right: 20px;
  top: 10px;
  width: auto;
  height: 35px;
}
.bat-btn{
  width: 155px;
  height: 35px;
  color: #97aabb;
  border: 1px solid  #97aabb;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 300;
  background-color: transparent;
  text-align : center;
  margin: 0px auto;
  padding-top: 4px;
  cursor: pointer;
  user-select:none;
}

.logo-medium{
  background-image: url('../img/logo-medium.png');
  background-repeat: no-repeat;
  width: 148px;
  height: 40px;
  display: inline-block;
  margin-top: 11px;
  margin-left: 27px;
}
.greeting-wrap{
  float: right;
  margin-right: 22px;
  margin-top: 18px;
}
.user-message{
  color: #7e94a9;
  font-size: 18px;
  font-weight: 300;
  float: right;
}
.user-icon{
  float: right;
  background-image: url('../img/fa-user.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-top: 5px;
  margin-right: 15px;
}
.page-content{
  padding: 85px 20px 20px 25px;
}
.panel-collapse.collapse{
  background-color: #f7f7f7;
}
.panel-collapse.collapsing{
  background-color: #f7f7f7;
}

.page-content>.panel{
  padding-top: 55px;
  background-color: #f7f7f7!important;
}
.panel-heading{
  box-shadow: 0px 1px 4px rgba(0,0,0,0.35);
  border-radius: 3px;

}
.panel-heading .panel-title{
  color: #333f50;
  font-size: 24px;
  font-weight: 300;
  height: 55px;
  padding-top: 7px;
}
.panel-group .panel-title:after{
  content: ''!important;
  width: 14px;
  height: 14px;
  background-image: url('../img/panel-up.png');
}
.panel-group .panel-title:before{
  content: ''!important;
}
.panel-group .panel-title.collapsed:before{
  width: 14px;
  height: 14px;
  background-image: url('../img/panel-down.png')
}
.mm-navbar{
  display: none!important;
}

.site-menu > .site-menu-item > a {
    padding: 0px 15px!important;
}

.form-material .form-control ~ .floating-label {
    left: 25px;
    top: 1px;
    font-size: 14px;
    font-weight: 300;
}
.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label,
.form-material .form-control:not(.empty) ~ .floating-label{
  top: -20px;
  font-size: 12px;
}
input.form-control {
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 9px!important;
    font-size: 14px;
    color: #333f50;
}
.floating.floating-label{
  font-size: 12px;
}
.btn-parent{
  width: 150px;
  padding-top:2px;
  float: right;
  margin-right: -19px;
}
#buttonSearch{
  background-color: #7e94a9;
  color : #e7f0f3;
  font-size: 14px;
  font-weight: 400;
  padding-top: 3px;
  border-color: #7e94a9;
  width: 150px;
  height: 30px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.41);
  -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0,0.41);
  box-shadow:         0px 1px 4px 0px rgba(0,0,0,0.41);

}
.reset-filters {
    opacity: 0.5;
    width: 150px;
    margin: 7px -15px 0 auto;
    padding-right: 10px;
    color: #7e94a9;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 32px;
}
.reset-filters>div {
    width: 90px;
    text-align: center;
    margin: 0px auto;
    border-bottom: 1px solid #7e94a9;
}
.reset-filters .show {
    display: block!important;
}

.form-group .cal-icon{
  width: 22px;
  height: 22px;
  position: absolute;
  right: 25px;
  top: 4px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../img/calendar.png');
  pointer-events: none;
  cursor: pointer;
}
.form-group .clear-icon{
  display: none;
  width: 13px;
  height: 12px;
  position: absolute;
  right: 60px;
  top: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../img/login-clear.png');
  cursor: pointer;
}

.panel-body {
  padding-top: 30px!important;
  padding left: 30px!important;
  padding-right: 30px!important;
  padding-bottom: 0px!important;
  margin-bottom: 10px!important;
}
.col-md-3-6{
  width: 29.7%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-1-1{
  width: 10.9%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-6-2{
  width: 59.4%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-3-2{
  width: 29.7%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

.jsgrid-pager-container{
  margin-top:10px;
}
.jsgrid-pager{
  color : #7e95a9;
  text-align: right;
}
.jsgrid-pager .jsgrid-pager-page {
  display: inline-block;
  width: 40px;
  text-align: center;
}
.jsgrid-pager a{
  color: #7e95a9;
}
.jsgrid-pager .jsgrid-pager-nav-button a{
  display: inline-block;
  width: 40px;
  height: 24px;
  text-align: center;
}
.jsgrid-pager-nav-button{
  width: 40px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 7px;
  vertical-align: middle;
}

.jsgrid-pager-nav-button.arrowNext{
  background-image: url('../img/pageArrowNext.png');
}
.jsgrid-pager-nav-button.arrowLast{
  background-image: url('../img/pageArrowLast.png');
}

.jsgrid-pager-nav-button.arrowPrev{
  background-image: url('../img/pageArrowPrev.png');
}

.jsgrid-pager-nav-button.arrowFirst{
  background-image: url('../img/pageArrowFirst.png');
}
.jsgrid-pager-nav-inactive-button{
  opacity: 0.2;
}

.pageCountSelect{
  float: left;
}
.row.second{
  margin-bottom:60px;
  margin-top: 20px;
}
#ageGroup{
  margin-top:30px;
}
#ageGroup .rangeUi-pointer{
  width: 35px;
}
.keep-left{
  position: absolute;
  left:30px;
  top: 21px;
}
.slot-display {
    position: absolute;
    bottom: -41px;
    left: 0;
    width: 100%;
}
.slot-display>div {
    width: 180px;
    margin: 0px auto;
}
.slot-display>div>div {
    float: left;
}
.slot-display input {
    width: 73px;
    background-color: transparent;
    border: none;
    color: #333f50!important;
    font-size: 16px;
    text-align: center;
}
.slot-display .to {
    color: #333f50;
    padding-top: 3px;
}
.gender-selector{
  float: right;

  position: relative;
}
.gender-selector .check{
  width: 70px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  cursor: pointer;
  border-radius: 5px;
}
.gender-selector input{
  display: none;
}
.male-check{
  background-image: url('../img/male-check.png');
}
.male-check.checked{
  background-image: url('../img/male-check-c.png');
}

.female-check{
  background-image: url('../img/female-check.png');
}
.female-check.checked{
  background-image: url('../img/female-check-c.png');
}

.clearfix.lg-margin-bot{
  margin-bottom: 30px;
}
.chart-inner{
  width:100%;
  height:100%;
  padding:0 10px 0 50px;
  position:relative;
}

.jsgrid-table{
  width: 100%!important;
}

#panelDetails .panel-body{
  padding-top: 0px!important;
}
#panelDetails .preview-data{
  padding-top: 15px;
}
#panelDetails .preview-summary{
  padding-top: 15px;
}

.server-error{
  position:fixed;
  top:-50px;
  left: 0px;
  width: 100%;
  height: 50px;
  z-index: 99999;
  background-color: #f26a62;
  color: #fff;
  font-weight: 300;
  box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.3);
}
.server-error .error-text{
  font-size: 16px;
  font-weight: 300;
  width: 376px;
  margin: 0px auto;
  text-align: center;
  padding-top :10px;
  padding-left: 28px;
  position: relative;
}
.server-error .warn-icon{
  width: 18px;
  height: 18px;
  background: url('../img/warn-small.png');
  position: absolute;
  left: 10px;
  top: 14px;
}
/*---------custom tooltip-------*/
#chartjs-tooltip {
    width: 110px;
    height: 155px;
    font-size: 14px;
    opacity: 1;
    position: absolute;
    background: #fff;
    color: #7e94a9;
    padding: 10px 15px 10px 17px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-family: 'Roboto',sans-serif;
    opacity: 0;
    box-shadow:  2px 2px 5px -1px rgba(0,0,0,0.3);
}
#chartjs-tooltip .header{
  color : #111111;
}
#chartjs-tooltip .data>div{
  padding-left: 24px;
  position: relative;
}
#chartjs-tooltip .data>div:nth-child(1){

}
#chartjs-tooltip .data>div:nth-child(1)::before{
  background-color: #f26a62;
}

#chartjs-tooltip .data>div:nth-child(1)::before,
#chartjs-tooltip .data>div:nth-child(2)::before{
  content: '';
  width: 11px;
  height: 11px;
  background-color: #f26a62;
  position: absolute;
  left:2px;
  top: 6px;
}
#chartjs-tooltip .data>div:nth-child(2){

}
#chartjs-tooltip .data>div:nth-child(2)::before{
  background-color: #90d8f4;
}
#chartjs-tooltip .sep{
  margin-top: 5px;
}
#chartjs-tooltip.below {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#chartjs-tooltip.below:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 0 8px 8px 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#chartjs-tooltip.above {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#chartjs-tooltip.above:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 8px 8px 0 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    top: 100%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.y-axis{
  font-size: 11px;
  color: #7e94a9;
  font-weight: 300;
  position: absolute;
  left: -53px;
  bottom: 120px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.y-axis.two{
  left: -18px;
  bottom: 127px;
}
.legend1{
  width: 184px;
  height: 21px;
  position: absolute;
  top: -40px;
  left:30px;
  background: url('../img/legend1.png') no-repeat;
}
.legend2{
  width: 170px;
  height: 21px;
  position: absolute;
  right: 40px;
  top: -40px;
  color: #333f50;
  font-size: 14px;
  font-weight: 400;
}
.legend2 span{
  color: #7e94a9;
}
#subsChartCanvas div.google-visualization-tooltip {
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  width: 111px;
  padding: 6px;
}
#subsChartCanvas div.google-visualization-tooltip > ul >
li.google-visualization-tooltip-item:nth-child(2) > span:nth-child(2),
#subsChartCanvas div.google-visualization-tooltip > ul >
li.google-visualization-tooltip-item:nth-child(3) > span:nth-child(2)
{
  display:none;
}
#subsChartCanvas div.google-visualization-tooltip > ul >
li.google-visualization-tooltip-item:nth-child(1) > span
{
  color : rgb(17,17,17)!important;
  font-weight: 500!important;
  font-size: 14px!important;
}
#subsChartCanvas div.google-visualization-tooltip > ul >
li.google-visualization-tooltip-item:nth-child(2) > span,
#subsChartCanvas div.google-visualization-tooltip > ul >
li.google-visualization-tooltip-item:nth-child(3) > span{
  font-size: 14px!important;
  color: rgb(126,148,169)!important;
  font-weight: 300!important;
}

#subsChartCanvas div.google-visualization-tooltip > ul >
li.google-visualization-tooltip-item >
.google-visualization-tooltip-square{
  width: 10px;
  height: 10px;
  border-radius: 1px;
}


#impChartCanvas div.google-visualization-tooltip {
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  width: 171px;
  padding: 6px 6px 6px 10px;
}
#impChartCanvas li.google-visualization-tooltip-item{
  border : 1px solid red;
}
#impChartCanvas li.google-visualization-tooltip-item:nth-child(1)
{
  /*color : rgb(17,17,17)!important;
  font-weight: 300!important;
  font-size: 14px!important;*/
  display: none;
}
#impChartCanvas div.google-visualization-tooltip .line{
  color : rgb(17,17,17)!important;
  font-weight: 300!important;
  font-size: 14px!important;
}
#impChartCanvas div.google-visualization-tooltip .line span{
  font-weight: 500!important;
}
#impChartCanvas li.google-visualization-tooltip-item:nth-child(2) {
  display: none;
}
#impChartCanvas li.google-visualization-tooltip-item:nth-child(2) >
span:nth-child(2){
  font-size: 14px!important;
  color: rgb(126,148,169)!important;
  font-weight: 300!important;
}
div.google-visualization-tooltip
{
  pointer-events: none
}
