.page-login:before {
  /*background-image: url("../../images/login.jpg");*/
}
.page-login form {
  width: 448px;
  margin: 30px 0;
}
.page-login form a {
  margin-left: 20px;
}
.page-login .form-control{
  color:#333f50
}
.page-login .floating-label,
.page-login .form-control:focus + .floating-label {
  color: #7e94a9;
}
.page-login a {
  color: #9fa8da;
}
@media (max-width: 767px) {
  .page-login form {
    width: auto;
  }
}

.btn-login,
.btn-login.disabled,
.btn-login[disabled]{
  font-size: 28px;
  font-weight: 400;
  color:#333f50;
  background-color: #fff;
  border-color: #fff;
  webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
}

.btn-login:hover,
.btn-login:focus,
.btn-login[disabled].focus,
.btn-login.disabled:hover,
.btn-login.disabled:focus,
.btn-login.disabled[disabled]:focus{
    color:#333f50;
    background-color: #fff;
    border-color: #fff;
}
.form-material.form-group.has-success .form-control:not(.empty)
{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7e94a9), to(#7e94a9)), -webkit-gradient(linear, left top, left bottom, from(#7e94a9), to(#7e94a9));
  background-image: -webkit-linear-gradient(#7e94a9, #7e94a9), -webkit-linear-gradient(#7e94a9, #7e94a9);
  background-image: -o-linear-gradient(#7e94a9, #7e94a9), -o-linear-gradient(#7e94a9, #7e94a9);
  background-image: linear-gradient(#7e94a9, #7e94a9), linear-gradient(#7e94a9, #7e94a9);
}
.form-material.form-group.has-success .form-control:not(.empty) ~ .floating-label {
    color: #7e94a9;
}

.form-material .floating-label,
.form-material .form-control:focus ~ .floating-label,
.form-material .form-control.focus ~ .floating-label  {
  color: #757575;
}

.form-material .form-control::-webkit-input-placeholder {
  font-size:18px;
  color: #7e94a9;
}
.form-material .form-control::-moz-placeholder {
  font-size:18px;
  color: #7e94a9;
}
.form-material .form-control:-ms-input-placeholder {
  font-size:18px;
  color: #7e94a9;
}
.form-material .form-control:disabled::-webkit-input-placeholder {
  font-size:18px;
  color: #7e94a9;
}
.form-material .form-control:disabled::-moz-placeholder {
  font-size:18px;
  color: #7e94a9;
}
.form-material .form-control:disabled:-ms-input-placeholder {
  font-size:18px;
  color: #7e94a9;
}

.page-copyright{
    color:#7e94a9;
    font-weight: 300;
    position: fixed;
    bottom :8px;
    width: 100%;
    text-align: center;
}

.form-group
{
  height: 62px!important;
  margin-bottom: 5px!important;
}
.form-material .form-control ~ .floating-label {
  left: 25px;
  top: -2px;
  font-size: 18px;
  font-weight: 300;
}

.page-dark.layout-full .brand {
    margin-bottom: 80px;
}

.form-material.floating.form-group.second-row{
  margin-top: 25px;
}
.form-group .clear-button{
  background-image: url('../img/login-clear.png');
  background-repeat: no-repeat;
  background-position: 12px 10px;
  cursor: pointer;
  display: none;
}
.form-group.has-success .clear-button{
  display: none;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 2;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
input.form-control{
  padding-left:25px!important;
  padding-right:25px!important;
  padding-bottom:10px!important;
  font-size:18px;
}

.server-error{
  position:fixed;
  top:-50px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #f26a62;

}
.server-error .error-text{
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding-top :10px;
  padding-left: 20px;
  position: relative;
}
.server-error .warn-icon{
  width: 18px;
  height: 16px;
  background: url('../img/warn-small.png');
  /*position: absolute;
  left: 10px;
  top: 14px;*/
  display: inline-block;
  margin-right: 10px;
}
input:-webkit-autofill {
  background-color: rgba(0,0,0,0) !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(0,0,0,0) inset important!;
  background-image:none !important;
  color: #333f50 !important;
}
input{
  -webkit-appearance:none;
}
