.ui-corner-all{
  border-radius: 4px;
}
.ui-slider{
  position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range{
  top: 0;
height: 100%;
}
.ui-slider-horizontal{
  height: .8em;

}
.ui-slider .ui-slider-range{
  position: absolute;
  z-index: 1;
  position: absolute;
  top: -1px;
  width: 60%;
  height: 5px;
  overflow: hidden;
  background-color: #333f50;
}
.ui-widget-header {
    color: #222222;
    font-weight: bold;
}
.ui-widget-content{
  height: 2px;
  background-color: #7e94a9;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
  border: 1px solid #d3d3d3;
    background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
    color: #555555;
}
.ui-slider-horizontal .ui-slider-handle{
  top: -.3em;
  margin-left: -1px;
}
.ui-slider .ui-slider-handle{
    z-index: 2;
    cursor: pointer;
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -18px;
    left: 60%;
    z-index: 2;
    width: 60px;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4e5967;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 17.5px;
    box-shadow: 0px 1px 2px rgba(190,190,190,0.4);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.ui-slider .ui-slider-handle:focus{
  outline:none;
}
